<h1>Task: <%= @task['name'] %></h1>
<h3>Movie: <%= @movie %></h3>
<h3>Contact person: <%= @person %></h3>

<ul>
  <li>Description: <%= @task['description'] %></li>
  <li>Done? <% if @task['done'] == 'true' %>
    <%= 'Yes' %>
    <% else %>
    <%= 'No' %>
  <% end %></li>
</ul>

<form action="/tasks/<%= @task['id'] %>/delete" method="post">
  <span class="warning">This task will be removed.</span><br>
  <button>Delete task</button><br>
</form>