<form action = "/todos/<%=@todo['id']%>" method = "post" class = "pure-form pure-form-stacked">
	<label>Task</label>
	<input type = "text" name = "task" value = "<%=@todo["task"]%>">
	<label>Details</label>
	<input type = "text" name = "details" value = "<%=@todo["details"]%>">
	<label>Due</label>
	<input type = "date" name = "due" value = "<%=@todo["due"]%>">
	<label for="urgent">
		Urgent: <input type = "radio" name = "urgent" value = "true" <%=return "checked" if @todo["urgent"]%>> 
		Not Urgent: <input type = "radio" name = "urgent" value = "false" <%=return "checked" unless @todo["urgent"]%>>
	</label>
	<label> Assign Task to:</label>
	<select name = "person_id">
		<%@people.each do |person|%>
			<option value = "<%=person["id"]%>" selected = "<%=@current_person['name']%>">
				<%=person["name"] %>
			</option>
		<%end%>
	</select>
	<label> For Production on:</label>
	<select name = "movie_id">
		<%@movies.each do |movie|%>
			<option value = "<%=movie["id"]%>" selected = "<%=@current_person['name']%>">
				<%=movie["title"] %>
			</option>
		<%end%>
	</select><br>
	<button> Save Edits </button>
</form>
