<form action = '/movies/<%=@movie["id"]%>' method = "post">
	<input type="text" name="title" value="<%=@movie['title']%>"><br>
	<input type="text" name="description" value = "<%=@movie['description']%>"><br>
	<label for="director_id"> Director <br>
		<select name = "director_id">
			<%@people.each do |person|%>
				<option value = "<%=person["id"]%>" selected = "<%=@director['name']%>">
					<%=person["name"] %>
				</option>
			<%end%>
		</select>
	</label><br>
	<button> Save Edits </button>
</form>
