<form action="/todos/<%= @todo.id %>/edit" method="post">
  <input type="text" name="name" value="<%= @todo.name %>" autofocus="true"><br/>
  <input type="text" name="description" value="<%= @todo.description %>"><br/>
  <select name="person_id">
    <% @people.each do |person| %>
      <option value="<%= person.id %>">
        <%= person.name %>
      </option>
    <% end %>
  </select><br/>
  <select name="movie_id">
    <% @movies.each do |movie| %>
      <option value="<%= movie.id %>">
        <%= movie.name %>
      </option>
    <% end %>
  </select><br/>
  <button>Submit</button>
</form>
<a href="/todos">To-Dos</a><br/>
<a href="/">Index</a>