<div class = "column tasks">
  <h1>Tasks</h1>
  <% @tasks.each do |task| %>
      <li><a href="tasks/<%= task['id'] %>"><%= task['name'] %></a></li>
  <% end %>              <br />
  <p><a href="/tasks/new">Add A Task</a></p>
</div>

<div class = "column movies">
  <h1>Movies</h1>
  <% @movies.each do |movie| %>
      <li><a href="movies/<%= movie['id'] %>"><%= movie['name'] %></a></li>
  <% end %>  <br />
  <p><a href="/movies/new">Add A Movie</a></p>

</div>

<div class = "column people">
  <h1>People</h1>
  <% @people.each do |person| %>
      <li><a href="people/<%= person['id'] %>"><%= person['name'] %></a></li>
  <% end %>  <br />
  <p><a href="/people/new">Add A Person</a></p>
</div>

