<h1>Name: <%= @movie_details['name'].capitalize %></h1>
<h1>Director: <%= @movie_details['person_id'].capitalize %></h1>
<h2>Tasks:</h2>
<ul>
    <% if @tasks %>
  <li><a href="/tasks/<%= @tasks['id'] %>"><%= @tasks['name'].capitalize %></a></li>
    <ul>
      <li><%= @tasks['description'] %></li>
    </ul>
    <% else %>
    <p>No Tasks</p>
    <% end %>
</ul>

<form action="/movies/<%= @movie_details['id'] %>/delete" method="post">
<button>DELETE MOVIE</button>
</form>

<p><a href="/movies/<%= @movie_details['id'] %>/edit">Edit</a></p>
<p><a href="/movies">Movies</a></p>