<h1><%= @task['name'] %></h1>

<ul>
  <li>Description: <%= @task['description'] %>  </li>


 <li>Person: <%= @person['name'] %></li>

  <li>Movie: <%= @movie['name'] %></li>
</ul>

<p>
  <a href="/tasks/<%= @task['id'] %>/edit">Edit This Task</a>
</p>

<form action="/tasks/<%= @task['id'] %>/delete" method="post">
  <button>Delete This Task</button>
</form>