<div>
	<a href="/todos/<%=@todo["id"]%>/edit">Edit Todo</a>
	<a href="/todos/<%=@todo["id"]%>/delete">Delete Todo</a>
</div>

<div>
	<h1>Task</h1>
	<p><%=@todo["task"]%></p>

	<h1>Details</h1>
	<p><%=@todo["details"]%></p>

	<h1>Movie Title</h1>
	<p><%=@movie["title"]%></p>

	<h1>Contact</h1>
	<p><%=@person["name"]%></p>

	<h1>Due Date</h1> 
	<p><%=@todo["date"]%></p> 
</div>