<h1>Task: <%= @task.name %></h1>
<h3>Movie: <%= @movie.name %></h3>
<h3>Contact person: <%= @person.name %></h3>

<ul>
  <li>Description: <%= @task['description'] %></li>
  <li>Done? <% if @task['done'] == 'true' %>
    <%= 'Yes' %>
    <% else %>
    <%= 'No' %>
  <% end %></li>
</ul>

<h3><a href="<%= @task['id'] %>/edit">Edit this task</a></h3>
<h3><a href="<%= @task['id'] %>/delete">Delete this task</a></h3>